nav a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content     : space-between; /* (Home__ profile__Blog__About__Login) */
}
.login-form-container{
    display             : flex;
    justify-content     : center; /*Bring along the middle */
    align-items         :center;
    height              :90vh; /* 90% of the viewport height.*/
    border              : 1px solid salmon;
}
.login-form{
    display: flex;
    flex-direction      : column; /*Bring along the column */
    width               : 50% ;
    border              : 2px solid blueviolet;
}
.login-form input{
    margin-top          : 20px;
}

