.calendar{
    display                  :grid;
    grid-template-columns    :repeat(7,1fr);
    row-gap                  :10px;
    column-gap               :10px;
}
.date, .day{
    background-color         :skyblue;
    border-radius            :10px;/*To fix any of the quadrants*/
    /* height                   :50px; */
    display                  :flex;
    justify-content          :center;/*center horizontal*/
    align-items              :center;/*Center vertically*/
    font-size                : 1.5em; /*em is a unit of measurement which indicates size relative to the size of the font*/
}
.day{
    background-color         :lightgray;
}
